# unconventional js
/blueprints/*/files/

# compiled output
/dist/
/declarations/

# misc
/coverage/
/pnpm-lock.yaml

# it's now edit with release-plan, so no manual formatting/validating needed
/CHANGELOG.md
